<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeInitiOSUIControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE7A315E1E6948B60045BDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7A317A1E6948B60045BDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7A31851E6948B60045BDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
